@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global */
.app {
  display: grid;
  grid-template-rows: 64px 200px auto 100px;
  grid-template-areas: "header" "hero" "main" "footer";
  height: 100vh;
  
  .header {
    grid-area: header;
    @apply container mx-auto;
  }
  
  .hero {
    grid-area: hero;
    @apply container mx-auto;
    justify-self: center;
    align-self: center;
  }
  
  .main {
    grid-area: main;
    @apply container mx-auto;
  }
  
  .footer {
    grid-area: footer;
    @apply container mx-auto;
  }
}

/* Header */
.header {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  grid-template-areas: "logo search menu";

  .header__logo {
    grid-area: logo;
    justify-self: center;
    align-self: center;
  }
  
  .header__search {
    grid-area: search;
  }
  
  .header__menu {
    grid-area: menu;
    justify-self: end;
    align-self: center;
  }
}